body {
  background-color:rgb(250,255,180);
}

p {
  color: black;
}

h1{
  font-weight: bold;
  color:rgb(224,125,150)
}
img{ width: 200px;
  border-color: cadetblue;
  border-style: groove;
  border-width: 5px;
  height: 150px;
}
